@import "tailwindcss";

html {
  background-color: #100f17;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

@font-face {
  font-family: "rubik";
  src: url("./assets/RubikOne-Regular.ttf");
}

* {
  font-family: "rubik";
}
